@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Press+Start+2P&display=swap");



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bangers', sans-serif;
  background-color: rgb(33, 7, 73);
  color: #fff;
  font-size: 18px;
}


.coin-text {
  font-size: 50px;
  color: #d8e616;
}


.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #382821 0%,
    #797106 48%,
    #288603 100%
  );

  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}

.footer-text{
  font-size: 14px;
}





